.customer-container {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  position: relative;
}

.customer-container__add-customer {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.no-customers{
  text-align: center;
}
